.header {
  background: #FFE600 !important;
  height: 7vh !important;
}

.searchInput {
  line-height: 0;
  margin: 0 10px;
}

.content {
  height: 93vh !important;
}

.menuStyle {
  margin: 16px 0 !important;
}

.cardBodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardBodyTitleContainer {
  width: 100% !important;
  margin: 0 2em;
}

.cardBodyTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImg {
  height: 180px ;
  width: 180px ;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 4px;
}

/* Item Detail Styles */

.itemDetailContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding: 32px;
}

.itemDetailImg {
  height: 680px ;
  width: 680px ;
  flex-shrink: 0;
  object-fit: contain;
}

.itemImgTitleContainer {
  display: flex;
  justify-content: space-evenly;
}

.sold {
  margin: 0 !important;
  margin-top: 32px !important;
  font-size: 14px !important;
}

.title {
  margin: 0 !important;
  margin-top: 16px !important;
  font-size: 24px !important;
}

.price {
  margin: 32px 0 !important;
  font-size: 46px !important;
}

.description {
  max-height: 50%;
  margin-right: 32px;
}